MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/golazo
MONGODB_DB=golazo
ELASTIC_CLOUD_ID=your_cloud_id_here
ELASTIC_API_KEY=your_api_key_here
ELASTIC_URL=https://<deployment-id>.es.<region>.aws.elastic-cloud.com
GEMINI_API_KEY=your_gemini_api_key_here
GOOGLE_CLOUD_PROJECT=golazo-wc2026
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
VERTEX_AI_LOCATION=us-central1
AGENT_ID=your_agent_builder_agent_id
GOOGLE_MAPS_API_KEY=your_maps_key_here
OPENWEATHER_API_KEY=your_weather_key_here
ATLAS_WEBHOOK_SECRET=your_hmac_secret_here
APIFY_API_KEY=your_apify_api_key_here
PORT=8000
ENV=development
